In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Nicer plots
sns.set(style="whitegrid")

# Direct URL to the public Sample Superstore CSV
url = "https://raw.githubusercontent.com/leonism/sample-superstore/master/data/superstore.csv"

# Load CSV directly
df = pd.read_csv(url)

# Clean column names
df.columns = df.columns.str.strip().str.replace(' ', '_').str.replace('-', '_').str.lower()

# In-memory SQLite connection
conn = sqlite3.connect(':memory:')

# Write DataFrame to 'sales' table
df.to_sql('sales', conn, if_exists='replace', index=False)

print("Data loaded into 'sales' table. Shape:", df.shape)

# Now run your queries (examples below)
# Total rows
print(pd.read_sql_query("SELECT COUNT(*) AS total_rows FROM sales", conn))

# Preview first 5 rows
print(pd.read_sql_query("SELECT * FROM sales LIMIT 5", conn))

# Column info
print(pd.read_sql_query("PRAGMA table_info(sales)", conn))

# Query 1: Total Sales, Profit, Quantity by Region
query1 = """
SELECT
    region,
    ROUND(SUM(sales), 2) AS total_sales,
    ROUND(SUM(profit), 2) AS total_profit,
    SUM(quantity) AS total_quantity
FROM sales
GROUP BY region
ORDER BY total_sales DESC
"""
print(pd.read_sql_query(query1, conn))

# Query 2: Top 10 Products by Profit
query2 = """
SELECT
    category,
    product_name,
    ROUND(SUM(profit), 2) AS total_profit,
    COUNT(*) AS num_orders
FROM sales
GROUP BY product_name, category
ORDER BY total_profit DESC
LIMIT 10
"""
print(pd.read_sql_query(query2, conn))

# Add your other queries (3, 4, etc.) the same way...

# For the monthly trend plot (after running query4)
monthly_df = pd.read_sql_query(query4, conn)  # your query4 code
monthly_df.plot(x='month', y=['monthly_sales', 'monthly_profit'], figsize=(12,6))
plt.title('Monthly Sales & Profit Trends')
plt.xticks(rotation=45)
plt.show()

conn.close()

Data loaded into 'sales' table. Shape: (10800, 21)
   total_rows
0       10800
  row_id        order_id  order_date   ship_date       ship_mode customer_id  \
0      1  CA-2017-152156   11/8/2017  11/11/2017    Second Class    CG-12520
1      2  CA-2017-152156   11/8/2017  11/11/2017    Second Class    CG-12520
2      3  CA-2017-138688   6/12/2017   6/16/2017    Second Class    DV-13045
3      4  US-2016-108966  10/11/2016  10/18/2016  Standard Class    SO-20335
4      5  US-2016-108966  10/11/2016  10/18/2016  Standard Class    SO-20335

     customer_name    segment        country             city  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  postal_code  region       product_id         category sub_category  \
0     42420.0   South  FUR-BO-10001798        Furniture    Bookcases
1     42420.0   South  FUR-CH-10000454        Furniture       Chairs
2     90036.0    West  OFF-LA-10000240  Office Supplies       Labels
3     33311.0   South  FUR-TA-10000577        Furniture       Tables
4     33311.0   South  OFF-ST-10000760  Office Supplies      Storage

                                        product_name     sales  quantity  \
0                  Bush Somerset Collection Bookcase  261.9600       2.0
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400       3.0
2  Self-Adhesive Address Labels for Typewriters b...   14.6200       2.0
3      Bretford CR4500 Series Slim Rectangular Table  957.5775       5.0
4                     Eldon Fold 'N Roll Cart System   22.3680       2.0

   discount    profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]
    cid           name  type  notnull dflt_value  pk
0     0         row_id  TEXT        0       None   0
1     1       order_id  TEXT        0       None   0
2     2     order_date  TEXT        0       None   0
3     3      ship_date  TEXT        0       None   0
4     4      ship_mode  TEXT        0       None   0
5     5    customer_id  TEXT        0       None   0
6     6  customer_name  TEXT        0       None   0
7     7        segment  TEXT        0       None   0
8     8        country  TEXT        0       None   0
9     9           city  TEXT        0       None   0
10   10          state  TEXT        0       None   0
11   11    postal_code  REAL        0       None   0
12   12         region  TEXT        0       None   0
13   13     product_id  TEXT        0       None   0
14   14       category  TEXT        0       None   0
15   15   sub_category  TEXT        0       None   0
16   16   product_name  TEXT        0       None   0
17   17          sales  REAL        0       None   0
18   18       quantity  REAL        0       None   0
19   19       discount  REAL        0       None   0
20   20         profit  REAL        0       None   0
    region  total_sales  total_profit  total_quantity
0     West    725457.82     108418.45         12266.0
1     East    678781.24      91522.78         10618.0
2  Central    501239.89      39706.36          8780.0
3    South    391721.91      46749.43          6209.0
4     None          NaN           NaN             NaN
          category                                       product_name  \
0       Technology              Canon imageCLASS 2200 Advanced Copier
1  Office Supplies  Fellowes PB500 Electric Punch Plastic Comb Bin...
2       Technology               Hewlett Packard LaserJet 3310 Copier
3       Technology                 Canon PC1060 Personal Laser Copier
4       Technology  HP Designjet T520 Inkjet Large Format Printer ...
5       Technology                  Ativa V4110MDD Micro-Cut Shredder
6       Technology   3D Systems Cube Printer, 2nd Generation, Magenta
7       Technology  Plantronics Savi W720 Multi-Device Wireless He...
8  Office Supplies               Ibico EPK-21 Electric Binding System
9       Technology                  Zebra ZM400 Thermal Label Printer

   total_profit  num_orders
0      25199.93           5
1       7753.04          10
2       6983.88           8
3       4570.93           4
4       4094.98           3
5       3772.95           2
6       3717.97           2
7       3696.28           7
8       3345.28           3
9       3343.54           2

NameError: name 'query4' is not defined

In [ ]:
from google.colab import drive
drive.mount('/content/drive')